/***MOBILE FIRST DESIGN***/
/****BODY****/
body {
  text-align: center;
  background-color: whitesmoke;
}
div {
  margin: 0;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.features-item-description {
  text-transform: none;
  font-size: 16px;
}
article {
  text-transform: none;
  font-size: 16px;
}
/****HEADER SECTION****/
.top-container {
  background-image: url("../img/mountain-clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: powderblue;
  height: 745px;
  width: 100%;
  padding-top: 20px;
  overflow: auto;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 5px;
}
nav ul li a {
  display: inline-block;
  text-align: center;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #505050;
}
h1 {
  display: block;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: auto;
  font-family: "Sacramento";
  font-size: 4.37rem;
  font-weight: 500;
  color: #984a59;
}
.heading {
  font-family: "Amatic SC";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #984a59;
}
.heading:hover {
  color: #dd5050;
  cursor: default;
}
.first-link:hover {
  color: #dd5050;
}
.second-link:hover {
  color: #984a59;
}
.intro {
  font-family: "Shippori Antique", sans-serif;
  display: block;
  width: 80%;
  margin: auto;
  padding: 30px 0 30px 0;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
main img {
  width: 100%;
  vertical-align: middle;
}
.list-intro {
  text-align: center;
}
/****MAIN SECTION****/
/****h2 in this section is My Skills heading****/
main {
  clear: both;
  background-color: whitesmoke;
}
.second-container {
  text-align: center;
  margin: 0px 0 380px 0;
  overflow: auto;
  background-color: whitesmoke;
}
.third-container {
  background-color:whitesmoke;
}
.avatar {
  width: 250px;
  height: 300px;
  border-radius: 100%;
}
h2 {
  font-family: "Amatic SC";
  font-size: 3rem;
  color: #984a59;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
main ul {
  margin: 0;
  font-family: "Shippori Antique", sans-serif;
  color: #984a59;
  font-size: 20px;
  margin: 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  font-weight: bold;
}
li {
  font-weight: bold;
  line-height: 3;
}

.about {
  color: #984a59;
}
main a {
  font-size: 38px;
  font-weight: 900;
}
.link {
  font-family: "Shippori Antique", sans-serif;
  font-size: 20px;
}
/****MY SKILLS AND PROJECTS SECTION****/
#skills {
  padding: 30px 0;
}
.projects-intro {
  text-transform: none;
  color: #984a59;
  font-weight: bold;
}
fieldset {
  border: none;
}
input {
  display: none;
}
section > div {
  display: none;
}
label {
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  color: #505050;
}
li {
  list-style: none;
}
#section-0:checked ~ #section-0 > div {
  display: block;
  visibility: visible;
}
#section-1:checked ~ #section-1 > div {
  display: block;
  visibility: visible;
}
#section-2:checked ~ #section-2 > div {
  display: block;
  visibility: visible;
}
.zero-label:hover {
  color: #dd5050;
}
.first-label:hover {
  color: #dd5050;
}
.second-label:hover {
  color: #dd5050;
}
a:hover {
  color: #984a59;
}
a {
  font-family: "Amatic SC", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #dd5050;
  text-decoration: none;
}
time {
  font-family: "Shippori Antique", sans-serif;
  color: #984a59;
  font-weight: bolder;
  margin: auto;
  width: 30%;
  font-size: 20px;
}
h3 {
  font-family: "Shippori Antique", sans-serif;
  color: #984a59;
}
main img {
  width: 80%;
  vertical-align: middle;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features-items figure {
  width: 100%;
}
/****FOOTER SECTION****/
footer {
  background-color: #984a59;
}
.bottom-container {
  display: inline-grid;
  background-color: #984a59;
  padding: 100px 0 0;
  text-align: center;
  margin: 200px 0 0 0;
}
.footer-link {
  margin: 100px 50px 100px 50px;
  padding-top: 100px;
}
p {
  font-family: "Shippori Antique", sans-serif;
  color: #984a59;
  font-weight: bolder;
  line-height: 2;
}
h4 {
  color: #edb97f;
  font-family: "Shippori Antique", sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Amatic SC", sans-serif;
  color: #505050;
  font-size: 34px;
  font-weight: 900;
  background: #edb97f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn:hover {
  background: #dd5050;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.change-color:hover {
  color: #ffffff;
}

#contact-me {
  color: #edb97f;
  text-align: center;
}
.strong {
  display: inline;
  padding-bottom: 30px;
}
#contact {
  font-family: "Sacramento";
  font-size: 30px;
  margin-bottom: 0;
}
#cant-wait {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #edb97f;
}
.github {
  padding: 40px 0;
}
.linkedin {
  padding: 40px 0;
}
/***MEDIA QUERIES***/
/*TABLET STYLES*/
@media screen and (min-width: 768px) {
  nav {
    float: right;
    padding: 0 20px 0 0;
  }
  h1 {
    padding-top: 150px;
  }
  .projects-container p {
    padding: 0 20px;
    text-align: left;
  }
  .projects-intro {
    font-size: 20px;
    margin: 0 100px;
  }
  .intro {
    width: 70%;
    text-align: left;
  }
  #skills {
    padding: 30px 0;
  }
  .top-container {
    padding: 20px 0 250px 0;
  }
  .second-container {
    margin: 50px 0 200px 0;
  }
  section {
    margin: 0 0 50px;
  }
  .features {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }
  .features-item-description {
    margin: 0 10px;
    width: 62%;
  }
  .features-items figure {
    margin: 20px 0 40px 0;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    columns: 30px 5;
    width: 100%;
  }
  .flex-item {
    display: table-cell;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    margin: 0;
    flex-basis: 33%;
    width: 100%;
  }
}
/*LAPTOP/DESKTOP STYLES*/
@media screen and (min-width: 900px) {
  .bottom-container {
    margin: 150px 0 0 0;
  }
  #contact-me {
    padding: 0;
  }
  .projects-intro {
    font-size: 1.5em;
  }
  .third-container img {
    width: 70%;
    vertical-align: middle;
  }
  .features article {
    flex-basis: 33%;
  }
}
