/***MOBILE FIRST DESIGN***/
/****BODY****/
body {
  text-align: center;
  margin: 0;
}
div {
  margin: 0;
}
/****HEADER SECTION****/
.top-container {
  background-image: url("../img/mountain-clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 745px;
  width: 100%;
  padding-top: 20px;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 5px;
}
nav ul li a {
  display: inline-block;
  text-align: center;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
}
h1 {
  display: block;
  justify-content: center;
  padding-top: 80px;
  margin-bottom: auto;
  font-family: "Sacramento";
  font-size: 4.37rem;
  font-weight: lighter;
  color: #dd7450;
}
.heading {
  font-family: "Amatic SC";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #984a59;
}

/****MAIN SECTION****/
/****h2 in this section is My Skills heading****/
main {
  background-color: #edb97f;
}
.first-container {
  text-align: center;
  background-color: #edb97f;
  overflow: auto;
}
.avatar {
  width: 250px;
  height: 300px;
  border-radius: 100%;
}
h2 {
  font-family: "Amatic SC";
  font-size: 3rem;
  color: #984a59;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
main ul {
  margin: 0;
  font-family: "Shippori Antique",sans-serif;
  color: #984a59;
  font-size: 20px;
  margin: 0;
  padding: 20px 0 20px 0;
  list-style-type: none;
  font-weight: bold;
}
li {
  font-weight: bold;
  line-height: 3;
}
#intro {
  font-family: "Shippori Antique",sans-serif;
  display: inline;
  width: 69%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 1;
}
.about {
  color: #984a59;
}
/****FOOTER SECTION****/
footer{
  background-color: #984a59;
}
.bottom-container {
  display: inline-grid;
  background-color: #984a59;
  padding: 100px auto 0;
  text-align: center;
}
.footer-link {
  margin: 100px 50px 100px 50px;
  padding-top: 100px;
}
p {
  font-family: "Shippori Antique",sans-serif;
  color: #984a59;
  font-weight: bolder;
  margin: auto;
  width: 30%;
  line-height: 2;
}
h4 {
  color: #edb97f;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Amatic SC";
  color: #ffffff;
  font-size: 34px;
  background: #edb97f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  width: 10%;
  margin: auto;
}

.btn:hover {
  background: #dd7450;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
#contact-me {
  color: #edb97f;
  text-align: center;
}
.strong {
  display: inline;
  padding-bottom: 30px;
}
.coded {
  font-family: "Sacramento";
  font-size: 30px;
  margin-bottom: 0;
}

/****END****/
/****BODY MY SKILLS****/
input {
  display: none;
}
section > div {
  display: none;
}
label {
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  color: #999999;
}
li {
  list-style: none;
}
#section-0:checked ~ #section-0 > div {
  display: block;
  visibility: visible;
}
#section-1:checked ~ #section-1 > div {
  display: block;
  visibility: visible;
}
#section-2:checked ~ #section-2 > div {
  display: block;
visibility: visible;
}
.zero-label:hover {
  color: #dd7450;
}
.first-label:hover {
  color: #984a59;
}
.second-label:hover {
  color: #dd7450;
}
a:hover {
  color: #984a59;
}
a {
  font-family: "Amatic SC",sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #dd7450;
  text-decoration: none;
}
time {
font-family: "Shippori Antique",sans-serif;
color: #984a59;
font-weight: bolder;
margin: auto;
width: 30%;
line-height: 2;
}
h3 {
  font-family: "Shippori Antique",sans-serif;
  color: #984a59;
}