/****BODY OF MY PROJECTS PAGE****/
body {
  background-color: #c0cad2;
  text-align: center;
  margin: 0;
}
nav {
  float: right;
  padding: 30px 20px 20px 0px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-align: right;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  padding-left: 80px;
}
.first-link:hover {
  color: #984a59;
}
.second-link:hover {
  color: #dd7450;
}
.third-link:hover {
  color: #984a59;
}
h1 {
  text-align: center;
  padding-top: 130px;
  margin: 0;
  font-family: "Sacramento";
  font-size: 4.37rem;
  font-weight: lighter;
  color: #dd7450;
}
.heading {
  font-family: "Amatic SC";
  font-size: 32px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #984a59;
}
p {
  font-family: "Montserrat";
  font-style: italic;
  color: #984a59;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  width: 50%;
  line-height: 2;
}
/****END OF MY PROJECTS PAGE****/
