/****BODY MY RESUME PAGE****/
body {
  background-color: #c0cad2;
  text-align: center;
  margin: 0;
}
nav {
  float: right;
  padding: 30px 20px 20px 0px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-align: right;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  padding-left: 80px;
}
.first-link:hover {
  color: #984a59;
}
.second-link:hover {
  color: #dd7450;
}
.third-link:hover {
  color: #984a59;
}
h1 {
  text-align: center;
  padding-top: 130px;
  margin: 0;
  font-family: "Sacramento";
  font-size: 4.37rem;
  font-weight: lighter;
  color: #dd7450;
}
.heading {
  font-family: "Amatic SC";
  font-size: 32px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #984a59;
}
/****SECTION OF MY RESUME PAGE****/
main {
  padding: 20px 0 20px 0;
}
input {
  display: none;
}
section > div {
  display: none;
}
label {
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  color: #999999;
}
div {
  font-family: "Montserrat";
  font-style: italic;
  color: #984a59;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  width: 50%;
  line-height: 2;
}
li {
  list-style: none;
}
#radio-section-0:checked ~ #section-0 > div {
  display: block;
}
#radio-section-1:checked ~ #section-1 > div {
  display: block;
}
#radio-section-2:checked ~ #section-2 > div {
  display: block;
}
#radio-section-3:checked ~ #section-3 > div {
  display: block;
}
#radio-section-4:checked ~ #section-4 > div {
  display: block;
}
.zero-label:hover {
  color: #dd7450;
}
.first-label:hover {
  color: #984a59;
}
.second-label:hover {
  color: #dd7450;
}
.third-label:hover {
  color: #984a59;
}
.fourth-label:hover {
  color: #dd7450;
}

a:hover {
  color: #984a59;
}
a {
  color: #dd7450;
  text-decoration: none;
}
/****END OF MY RESUME PAGE****/
